.body{
	background-color: black; 
	color:white
}

.main-container{
	margin-top: 30px;
}

.hr{
	border-color:white
}

.task-details{
	color:black;
}

.background-container{
	padding: 30px;
	background-color: #2a2a3c;
}

.actions div{
	float:left;
	padding-right: 10px;
}

.table-app-details tr td{
	border:1px solid white;
	padding: 10px;
	margin: 0 auto;
}

.table-container{
	align-content: center;
}