<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>ToDo App - My Tasks</title>
<link href="#" rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
</head>
<body class="body">
	<!-- Nav var, reusable code -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">ToDo App</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/todoapp/home">Home</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/todoapp/mytasks}">My tasks</a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/todoapp/createtask}">Create</a>
				</li>
				<li class="nav-item"><a class="nav-link" href ="#" th:href="@{/todoapp/search}">Search</a>
				</li>
				<li class="nav-item"><a class="nav-link" href ="#" th:href="@{/todoapp/about}">About</a>
				</li>
			</ul>
			<form th:action="@{/logout}" class="my-2 my-lg-0" method="POST">
				<button type="submit" class="btn btn-danger">Logout</button>
			</form>
		</div>
	</nav>

	<div class="container main-container">

		<h1>Create or Edit a task:</h1>
		<hr class="hr"/>
		<div class="row">

			<div class="col-md-6 offset-md-3 background-container main-container">

				<form action="#" th:action="@{/todoapp/newtask}" method="post" th:object="${taskModel}">
					<input type = "hidden" th:field="*{taskId}"/>
					<div class="form-group">
						<label for="task-name">Task name:</label> <input type="text"
							class="form-control" id="task-name"
							aria-describedby="taskNameHelp" placeholder="Task name" th:field="*{taskName}"/>
					</div>
					<div class="form-group">
						<label for="task-description">Task description:</label>
						<textarea class="form-control" id="task-description"
							aria-describedby="taskDescriptionHelp"
							placeholder="Task description" th:field="*{taskDescription}"></textarea>
					</div>
					<div class="form-group">
						<label for="creation-date">Creation date:</label> <input
							type="date" class="form-control" id="creation-date"
							aria-describedby="creaationDateHelp" placeholder="Cretion date" th:field="*{creationDate}"/>
					</div>
					<div class="form-group">
						<label for="due-date">Due date</label> <input type="date"
							class="form-control" id="due-date" aria-describedby="dueDateHelp"
							placeholder="Due date" th:field="*{dueDate}"/>
					</div>
					<div class="form-group">
						<label for="category">Category:</label> <select
							class="form-control" id="category"
							aria-describedby="categoryHelp" th:field="*{category}">
							<option selected="selected" value="">--Select an
								option--</option>
							<option value="Professional">Professional</option>
							<option value="Personal">Personal</option>
							<option value="Other">Other</option>
						</select>
					</div>
					<div class="form-group">
						<label for="priority">Priority:</label> <select
							class="form-control" id="priority"
							aria-describedby="categoryHelp" th:field="*{priority}">
							<option selected="selected" value="">--Select an
								option--</option>
							<option value="Low">Low</option>
							<option value="Medium">Medium</option>
							<option value="High">High</option>
						</select>
					</div>
					<div class="form-group">
						<label for="status">Status:</label> <select class="form-control"
							id="status" aria-describedby="categoryHelp" th:field="*{status}">
							<option selected="selected" value="">--Select an
								option--</option>
							<option value="Working">Working</option>
							<option value="On hold">On hold</option>
							<option value="Finished">Finished</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/>

	<!-- Required scripts -->
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>

	<!--<script type="text/javascript" src="#" th:src="@{../js/init.js}"></script>-->

</body>
</html>