<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>ToDo App - home</title>
<link href="#" rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
</head>
<body class="body">
	<!-- Nav var, reusable code -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">ToDo App</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/todoapp/home">Home</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/todoapp/mytasks}">My tasks</a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/todoapp/createtask}">Create</a>
				</li>
				<li class="nav-item"><a class="nav-link" href ="#" th:href="@{/todoapp/search}">Search</a>
				</li>
				<li class="nav-item"><a class="nav-link" href ="#" th:href="@{/todoapp/about}">About</a>
				</li>
			</ul>
			<form th:action="@{/logout}" class="my-2 my-lg-0" method="POST">
				<button type="submit" class="btn btn-danger">Logout</button>
			</form>
		</div>
	</nav>
	<div class="container main-container">
		<h1>Welcome <span th:text="${username}"></span></h1>
		<hr class="hr"/>	
		<div class="background-container">
			
			<p>
				<strong>ToDo App</strong> v2.0 has been developed in order to centralize all your existing tasks, allowing you to have better organization and tracking all of them.
			</p>
			
			<p>
				These are the main operations supported by the Application:
			</p>
			
			<ul>
				<li>Create tasks</li>
				<li>Edit existing tasks</li>
				<li>Delete tasks</li>
				<li>Search for specific tasks</li>
			</ul>	
						
		</div>
	</div>
	<footer id="footer-component"></footer>
	<!-- Required scripts -->
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>

	<!--<script type="text/javascript" src="#" th:src="@{../js/init.js}"></script>-->

</body>
</html>