<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>ToDo App - Tasks Details</title>
<link href="#" rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
</head>
<body class="body">
	<!-- Nav var, reusable code -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">ToDo App</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/todoapp/home">Home</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/todoapp/mytasks}">My tasks</a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/todoapp/createtask}">Create</a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/todoapp/search}">Search</a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/todoapp/about}">About</a></li>
			</ul>
			<form th:action="@{/logout}" class="my-2 my-lg-0" method="POST">
				<button type="submit" class="btn btn-danger">Logout</button>
			</form>
		</div>
	</nav>
	<div class="container main-container">
		<h1>Tasks Details</h1>
		<hr class="hr"/>
		<div class="row text-center">
			<div class="col-md-6 offset-md-3 text-center background-container" style="padding-left:11%">
				<div class="card task-details" style="width: 20rem;">
					<div class="card-body">
						<h4 class="card-title" th:text="${details.taskName}"></h4>
						<p class="card-text" th:text="${details.taskDescription}"></p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><strong>Creation date:</strong> <spam th:text="${details.creationDate}"></spam></li>
						<li class="list-group-item"><strong>Planned to finish:</strong> <spam th:text="${details.dueDate}"></spam></li>
						<li class="list-group-item"><strong>Priority:</strong> <spam th:text="${details.priority}"></spam></li>
						<li class="list-group-item"><strong>Category:</strong> <spam th:text="${details.category}"></spam></li>
						<li class="list-group-item"><strong>Status:</strong> <spam th:text="${details.status}"></spam></li>
					</ul>
					<div class="card-body">
						<a href="#" th:href="@{/todoapp/mytasks}" class="btn btn-danger btn-block">
							Close
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer id="footer-component"></footer>
	<!-- Required scripts -->
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>

	<!--<script type="text/javascript" src="#" th:src="@{../js/init.js}"></script>-->
</body>
</html>